.poll {
	min-height: 100px;
	border: 1px solid #006495;
	border-radius: 8px;
	margin: 10px auto;
	padding: 9px;
	display: flex;
	flex-wrap: wrap;

	&:before {
		content: "";
		right: 100%;
	}

	&.answered {
		transform: translateZ(0);
		backface-visibility: hidden;
		position: relative;
		overflow: hidden;
		&:before {
			content: "";
			position: absolute;
			right: 0;
			z-index: -1;
			left: 0;
			bottom: 0;
			background: #2980b9;
			height: 4px;
			transition-duration: 1.7s;
			transition-property: right;
			transition-timing-function: ease-out;
		}
	}

	&.poll--preview {
		&:hover {
			cursor: pointer;
			border-width: 2px;
		}
	}

	h2 {
		margin: 0 0 5px 10px;
		flex-basis: 100%;
	}

	.poll_author {
		flex-basis: 22%;
		display: inline-block;
	}

	.poll_details {
		flex-basis: 60%;
		margin: 0 auto;
	}

	.poll_view-link {
		text-decoration: none;
		padding: 3px;
		text-align: center;
		width: 50%;
		display: block;
		color: #334b53;
		border-radius: 5px;
		margin: 0 auto;
		border: 1px solid #222;
		&:hover {
			border-color: #fff;
			background-color: #334b53;
			color: #fff;
		}
	}

	.answer {
		width: 100%;
		padding: 5px;
		border: 1px solid #006495;
		margin: 0 7px 10px 0;
		background-color: #fff;
		border-radius: 5px;
		cursor: pointer;
		font-size: 14px;
		min-height: 35%;

		.answer_text {
			padding: 5px;
			border-bottom: 1px solid #eee;
		}

		.answer_details {
			padding: 5px;
		}

		&.selected {
			border: 1px solid #f00;
		}
	}

	button.answer {
		&:hover {
			background-color: #006495;
			color: #fff;
		}
	}
}
