@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600");

body {
	font-family: Montserrat, helvetica;
	font-size: 14px;
}

nav {
	&:after {
		content: "";
		clear: both;
		display: block;
	}
	li {
		float: left;
		list-style-type: none;
		margin: 0 10px 0 0;
		a {
			text-decoration: none;
		}
	}
}